<nav class="nav-div h-full z-10 relative flex gap-2 top-0 left-0 md:mb-12 md:mb-0 w-full"
     [class.hidden]="!isMenuOpen"
     [class.is-open]="isMobile && isMenuOpen"
     [@sidebarState]="isMenuOpen ? 'open' : 'closed'"
>
  <div class="flex flex-col gap-1 justify-between h-full w-full">
    <div class="mt-6 sm:mt-20">
      <button class="sidebar-button dark:bg-primary-400 dark:hover:bg-primary-500 dark:text-secondary-foreground justify-start" [routerLink]="['']" (click)="isMenuOpen && isMobile && toggleMenu()" title="Accueil">
        <span class="material-symbols-outlined">home</span> Accueil
      </button>

      @if (isLoggedIn){
      <button class="sidebar-button dark:bg-primary-400 dark:hover:bg-primary-500 dark:text-secondary-foreground justify-start" [routerLink]="['/cartons']" (click)="isMenuOpen && isMobile && toggleMenu()" title="Cartons">
         <span class="material-symbols-outlined">package_2</span> Cartons
      </button>
      }

      @if (isLoggedIn){
      <button class="sidebar-button dark:bg-primary-400 dark:hover:bg-primary-500 dark:text-secondary-foreground justify-start" [routerLink]="['/demenageurs']" (click)="isMenuOpen && isMobile && toggleMenu()" title="Déménageurs">
        <span class="material-symbols-outlined">local_shipping</span> Déménageurs
      </button>
      }

      @if (isLoggedIn){
      <button class="sidebar-button dark:bg-primary-400 dark:hover:bg-primary-500 dark:text-secondary-foreground justify-start" [routerLink]="['/administratif']" (click)="isMenuOpen && isMobile && toggleMenu()" title="Administratif">
        <span class="material-symbols-outlined">list</span> Administratif
      </button>
      }
    </div>

    <div class="mb-2">
      <button class="sidebar-button dark:bg-primary-400 dark:hover:bg-primary-500 dark:text-secondary-foreground justify-start" [routerLink]="['/cgu']" (click)="isMenuOpen && isMobile && toggleMenu()" title="cgu">
        <span class="material-symbols-outlined">balance</span> CGU
      </button>

      <button class="sidebar-button dark:bg-primary-400 dark:hover:bg-primary-500 dark:text-secondary-foreground justify-start" [routerLink]="['/contact']" (click)="isMenuOpen && isMobile && toggleMenu()" title="contact">
        <span class="material-symbols-outlined">contact_support</span> Contact
      </button>

      @if (isLoggedIn){
      <button class="sidebar-button dark:bg-primary-400 dark:hover:bg-primary-500 dark:text-secondary-foreground justify-start" [routerLink]="['/compte']" (click)="isMenuOpen && isMobile && toggleMenu()" title="Mon compte">
        <span class="material-symbols-outlined">settings</span> Compte
      </button>
      }

      @if (!isLoggedIn){
      <button class="sidebar-button dark:bg-primary-400 dark:hover:bg-primary-500 dark:text-secondary-foreground justify-start" [routerLink]="['/login']" (click)="isMenuOpen && isMobile && toggleMenu()" title="Se connecter">
        <span class="material-symbols-outlined">account_circle</span>Se connecter
      </button>
      }

      @if (isLoggedIn){
      <button class="sidebar-button bg-red-800 dark:bg-red-800 justify-start" (click)="logout()" (click)="isMenuOpen && isMobile && toggleMenu()" title="Se déconnecter">
        <span  class="material-symbols-outlined text-text">account_circle_off</span>Se déconnecter
      </button>
      }
    </div>
  </div>

</nav>

