<div class="flex flex-wrap justify-start items-center gap-4 w-full" >
  @for (room of rooms; track room.id) {
    <div class="relative flex justify-start gap-4 flex-wrap bg-background-200 dark:bg-background-200 w-58 rounded-xl p-4">
      @if (room.id === roomInEdit) {
        <app-room-form [room]="room" [isEdit]="true" (formSubmitted)="onRoomUpdated($event)" (formClosed)="closeEditForm()"/>
      } @else {
        <p class="m-0">{{ room.name }}</p>
        <span class="material-symbols-outlined cursor-pointer mr-8"
              title="Modifier le nom"
              (click)="toggleEditRoomForm(room)"
        >edit</span>
        <span class="material-symbols-outlined cursor-pointer absolute right-3 top-4 -translate-y-1/2 text-red-800 dark:text-red-500"
              title="supprimer la pièce"
              (click)="openDeleteRoomConfirmModal(room)"
        >remove_circle</span>
      }
    </div>
  } @empty {
    <div><span>Vous n'avez aucune pièce enregistrée</span></div>
  }

  <div>
    @if (!showNewRoomForm) {
      <span class="material-symbols-outlined cursor-pointer !text-4xl" title="ajouter une pièce" (click)="toggleNewRoomForm()">add</span>
    } @else {
      <app-room-form (formSubmitted)="onRoomAdded($event)" (formClosed)="toggleNewRoomForm()"/>
    }
  </div>

  @if (error) {
    <div class="text-red-500">
      {{ error }}
    </div>
  }
</div>
