<div class="flex flex-wrap justify-center items-center gap-2 w-full mb-4 h-fit">
  <div class="relative w-full h-full sm:w-6/12">
    <span
      class="material-symbols-outlined cursor-pointer !text-4xl absolute left-4 top-0 text-gray-400 hover:text-gray-600"
      title="Rechercher un objet"
      (click)="updateSearch()"
    >search</span>

    <input
      id="search-bar"
      type="text"
      placeholder="Rechercher un objet"
      class="p-2 pl-14 border border-gray-300 rounded w-full"
      [value]="search"
      (keyup)="onPageInputKeyup($event)"
    />

    <span
      class="material-symbols-outlined cursor-pointer !text-4xl absolute right-4 top-0 text-gray-400 hover:text-gray-600"
      title="effacer la recherche"
      (click)="resetSearch()"
    >cancel</span>
  </div>
  <div class="relative w-full h-full sm:w-4/12">
    <select
      class="peer block w-full h-[42px] rounded-md border border-gray-200 p-2 pl-6 text-sm outline-2 placeholder:text-gray-500"
      id="room"
      placeholder="Filtrer par pièce"
      (change)="filterRoom($event)"
      [(ngModel)]="roomSelected">
      <option [value]="null" disabled>Filtrer par pièce</option>
      @for (room of rooms; track room.id) {
      <option [value]="room.id">{{ room.name }}</option>
      }
    </select>
    @if(roomSelected){
      <span
        class="material-symbols-outlined cursor-pointer !text-4xl sm:!text-2xl absolute right-4 top-0 sm:left-full sm:bottom-full text-red-500 hover:text-red-800 dark:text-red-300 dark:hover:text-red-200"
        title="Effacer le filtre par pièce"
        (click)="resetRoom()"
      >cancel</span>
    }
  </div>
</div>
<div>
  <div>
    <button class="m-0" title="Effacer le filtre par pièce" (click)="resetAllFilters()">Effacer tous les filtres
    </button>
  </div>
</div>

