<div class="w-full p-4 shadow sm:p-8" [class.blur-2xl]="commonService.blurBackground()">
  <div class="relative flex w-full flex-col items-center space-y-2.5 p-4">
    <h1 class="font-bold capitalize">Cartons</h1>
  </div>

  <div>Search  &/or filters</div>

  <div id="rooms_list" class="flex flex-col flex-wrap justify-center items-center gap-5 w-full px-4 pb-4 rounded-2xl" >
    <div class="w-full flex justify-start items-center gap-6">
      <h2 class="">Pièces enregistrées</h2>
      <span class="material-symbols-outlined cursor-pointer !text-4xl" title="Afficher/masquer les pièces enregistrées" (click)="toggleDisplayRooms()">{{displayRooms ? "expand_less" : "expand_more"}}</span>
    </div>
    <app-room (selectedRoom)="openDeleteRoomConfirmModal($event)" [class.hidden]="!displayRooms"/>
  </div>

  <div id="boxes_list" class="flex flex-col flex-wrap justify-center items-center gap-5 w-full px-4 pb-4 rounded-2xl">
    <div class="w-full flex justify-start items-center gap-6">
      <h2 class="">Liste des cartons</h2>
    </div>

  </div>
</div>

@if(showDeleteRoomConfirmModal){
  <div method="dialog" class="absolute top-1/3 left-0 mx-5 md:left-1/3 bg-background-200 dark:bg-background-200 flex justify-center items-center z-10 rounded-xl p-4 w-11/12 md:w-2/5 md:min-w-[40%] md:max-w-[40%] shadow-sm">
    <div class="p-1 rounded-xl">
      <p>Voulez-vous vraiment supprimer la pièce "{{ roomToDelete?.name }}" ?</p>
      <p>Cette action est irréversible !</p>

      <div class="flex flex-wrap gap-8 justify-between items-center">
        <button
          (click)="deleteRoomConfirmed()"
          class="bg-red-800 hover:bg-red-600 dark:bg-red-800 dark:hover:bg-red-600"
          title="confirmer la suppression"
        >Oui, supprimer</button>

        <button
          (click)="deleteRoomCancelled()"
          title="annuler la suppression"
        >Annuler</button>
      </div>

    </div>
  </div>
}
