<main class="main flex w-full h-full">
  <div class="burger-logo-div fixed top-5 left-5 w-30 z-20 flex gap-12 h-12 justify-center" >
    <span class="material-symbols-outlined cursor-pointer text-text" (click)="toggleMenu()" title="Ouvrir/fermer le menu de navigation">{{ isMenuOpen ? "close" : "menu"}}</span>
    <span class="material-symbols-outlined cursor-pointer text-text" (click)="toggleTheme()" title="Basculer entre le thème clair et sombre">contrast</span>
  </div>

  <div class="w-full md:w-56 block" [class.hidden]="!isMenuOpen">
    <app-sidebar
      [isMenuOpen]="isMenuOpen"
      (updateMenuOpen)="onMenuUpdate($event)"
      class="p-2.5 w-full md:w-56 h-full block bg-background-200 dark:bg-background-200 fixed z-10"
      [class.hidden]="!isMenuOpen"
      [class.w-100]="isMobile && isMenuOpen"
      [@contentState]="isMenuOpen ? 'open' : 'closed'"
    />
  </div>

  <section
    id="content"
    class="p-2.5 pt-10 sm:pt-0 {{contentClass}}"
    [class.blur-2xl]="isMobile && isMenuOpen"
  >
    <router-outlet />
  </section>

  <button
    class="fixed bottom-5 right-5 z-50 bg-primary text-white p-2 rounded-full shadow-lg transition-opacity duration-300 text-4xl"
    [class.opacity-0]="!showScrollTop"
    [class.pointer-events-none]="!showScrollTop"
    (click)="scrollToTop()"
    title="Remonter en haut"
  >
    ↑
  </button>

  <button
    class="fixed top-5 right-5 z-50 bg-primary text-white p-2 rounded-full shadow-lg transition-opacity duration-300 text-4xl"
    [class.opacity-0]="!showScrollBottom"
    [class.pointer-events-none]="!showScrollBottom"
    (click)="scrollToBottom()"
    title="Aller en bas"
  >
    ↓
  </button>
</main>


