<div class="flex flex-wrap justify-start items-center gap-4 mt-6">
  @for (element of asArray(carton.elements); track element.id) {
      @if (element.id === elementInEdit) {
        <app-element-form [carton]="carton" [element]="element" [isEdit]="true" (formSubmitted)="onUpdate($event, carton)"/>
      } @else {
        <div class="flex flex-wrap justify-start items-center gap-4">
          <p class="m-0 bg-secondary-600 dark:bg-secondary-400 text-text-100 dark:text-text-900 px-4 rounded-full">{{ element.name }}</p>

          <div class="inline-flex items-center gap-2">
            <div class="relative inline-block w-11 h-5">
<!--              <input-->
<!--                [checked]="element.in_box"-->
<!--                id="in_box"-->
<!--                type="checkbox"-->
<!--                class="peer appearance-none w-11 h-5 bg-slate-100 rounded-full checked:bg-primary-600 transition-colors duration-300"-->
<!--                title="L'élément est-il dans le carton?"-->
<!--                (change)="onToggleInBox($event, element, carton)"/>-->
              <input
                [checked]="element.in_box"
                #inBoxInput
                id="in_box"
                type="checkbox"
                class="peer appearance-none w-11 h-5 bg-slate-100 rounded-full checked:bg-primary-600 transition-colors duration-300 cursor-pointer"
                title="L'élément est-il dans le carton?"
              (click)="toggleElementInBox(element, carton, inBoxInput)"/>
              <label for="in_box" class="absolute top-0 left-0 w-5 h-5 bg-white rounded-full border border-slate-300 shadow-sm transition-transform duration-300 peer-checked:translate-x-6 peer-checked:border-slate-800" title="L'élément est-il dans le carton?">
              </label>
            </div>
          </div>

          <div>
            <span class="material-symbols-outlined cursor-pointer"
                  title="Modifier le nom"
                  (click)="toggleEditForm(element)"
            >edit</span>
            <span class="material-symbols-outlined cursor-pointer text-red-800 dark:text-red-500 mx-4"
                  title="supprimer l'élément"
                  (click)="deleteElement(element, carton)"
            >remove_circle</span>
          </div>
          @if (error) {
            <div class="text-red-500">
              {{ error }}
            </div>
          }
        </div>
      }
  }
  @if (!showNewElementForm) {
    <span class="material-symbols-outlined cursor-pointer !text-4xl" title="ajouter une carton" (click)="toggleNewForm()">add</span>
  } @else {
    <app-element-form [carton]="carton" (formSubmitted)="onAdd($event, carton)"/>
  }
</div>
